$nav-bg: #e1e1e1;
$section-bg: #f0f0f0;

$article-width-half: 50%;
$article-width-third: 33.3333%;
$article-title-color: #f6a04a;
$article-read-more-color: #007BFF;
$article-title-font-size: 1.2rem;
$article-subtitle-font-size: 1rem;
$article-description-font-size: 0.8rem;
$article-read-more-font-size: 14px;
