ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ebebeb;
    height: 100px;
    align-content: center;
    position: relative;
}

.logo{
    float: left;
    margin-left: 20px;
    width: 25%;
}

.logo-image{
    width:180px;
    height:50px;
}

.link{
    text-decoration: none;
}

.header-link{
    color: black;
}

.white-text-color{
    color: white;
}

footer{
    background-color: #303030;
    padding-top: 20px;
}

.header-item{
    float: left;
    text-align: center;
    width: fit-content
}

.search{
    background-color: white;
    width: 150px;
    height: 50px;
    align-content: center;
    float: right;
    margin-right: 20px;

}

.search-image{
    width:10px;
    height:10px;
    float: right;
    margin: 10px;
}

.title{
    text-align: center;
    margin-top: 50px;
}

/* h2{
    text-align: center;
} */

.article-image{
    justify-self: center;
}

.article-text{
    margin: 10px;
}

.article{
    background-color: #ebebeb;
}

.bottom-article{
    width: 25%;
    display: inline-block;
    float: left;
    margin: 20px;
}

.article-container{
    display: inline-block;
    width: 80%;
}

.top-article{
    width: 40%;
    display: inline-block;
    /* background-color: brown; */
    float: left;
    margin: 20px;
}

/* nesting */
.top-article-container{
    position: relative;
    margin: 10px;
}

.top-article-container-left-part{
    display:inline-block;
    width:55%;
    position:relative;
    margin-right: 10px;
}

.top-article-container-right-part{
    text-align: end;
    display: inline-block;
    height: 100%;
    position: absolute;
}

.article-header{
    font-size:larger;
    margin: 0;
    text-align: center;
    margin: 10px;
    color: #f6a04a;
}

/* ugnjezdavanje.... */
.article-text{
    font-size: small;
}

.top-article-image{
    width:180px;
    height:150px;
}

.bottom-article-image{
    width:250px;
    height:120px;
}

.read-more{
    position:absolute;
    bottom:5px;
    right:5px;
    font-size: small;
    color: #57c6f9;
}


.top-menu li {
    display: inline;
    margin: 10px;
    padding: 10px;
    border-right:1px solid #8f8f8f;
}

.nav-li{
    background-color: #959595; margin: 10px;align-content: center; width: 150px;border: 2px solid red;border-radius: 5px;
}

.top-menu li:last-child {
    border-right: none;
}


footer{
    padding-left: 100px;
}

.footer-part {
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

.copyright{
    text-align:center; 
    margin-top: 100px;
    color: white;
}
