body{
    /* background-color: black; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ispravi */
/* header {
    background-color: #333;
} */

.header {
    background-color: #ebebeb;
    height: 100px;
    align-content: center;
    position: relative;
}

.logo{
    float: left;
    margin-left: 20px;
    width: 25%;
}

.logo-image{
    width:180px;
    height:50px;
}

.link{
    text-decoration: none;
}

.header-link{
    /* color:#898989; */
    color: black;
}

.white-text-color{
    color: white;
}

footer{
    background-color: #303030;
    padding-top: 20px;
}

.header-item{
    float: left;
    text-align: center;
    width: fit-content
    /* background-color: #333; */
    /* vertical-align: ; */
    /* height: 100%; */
}

.search{
    /* display: inline-block; */
    background-color: white;
    width: 150px;
    height: 50px;
    /* vertical-align: middle; */
    align-content: center;
    float: right;
    margin-right: 20px;

}

.search-image{
    width:10px;
    height:10px;
    float: right;
    margin: 10px;
    /* vertical-align: middle; */
}

.title{
    text-align: center;
    margin-top: 50px;
}

h1{
    /*  */
}

h2{
    text-align: center;
}

.article-image{
    justify-self: center;
}

.article-text{
    margin: 10px;
}

.article{
    background-color: #ebebeb;
}

.bottom-article{
    width: 25%;
    display: inline-block;
    /* background-color: brown; */
    float: left;
    margin: 20px;
}

.article-container{
    display: inline-block;
    width: 80%;
}

.top-article{
    width: 40%;
    display: inline-block;
    /* background-color: brown; */
    float: left;
    margin: 20px;
}
/* nesting */
.top-article-container{
    position: relative;
    margin: 10px;
}

.top-article-container-left-part{
    display:inline-block;
    width:55%;
    position:relative;
    margin-right: 10px;
}

.top-article-container-right-part{
    text-align: end;
    display: inline-block;
    height: 100%;
    position: absolute;
}

.article-header{
    font-size:larger;
    margin: 0;
    text-align: center;
    margin: 10px;
    color: #f6a04a;
}

/* .top-article-container-left-part-text{ */
.article-text{
    font-size: small;
}

.top-article-image{
    width:180px;
    height:150px;
}

.bottom-article-image{
    width:250px;
    height:120px;
}

.read-more{
    position:absolute;
    bottom:5px;
    right:5px;
    font-size: small;
    color: #57c6f9;
}

/* header{
    display: inline;
} */

/* li {
    display: inline;
    margin: 10px;
    padding: 10px;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
} */

.top-menu li {
    display: inline;
    margin: 10px;
    padding: 10px;
    border-right:1px solid #8f8f8f;
}

.top-menu li:last-child {
    border-right: none;
}


.container {
    display: inline-block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* footer{
    height: auto;
    padding:1px 15px; */
    /* width:520px; */
    /* } */
   /* #footer_links{
    float:left; */
    /* width:150px;   */
    /* border:1px solid #CCC; */
    /* padding:10px;
   } */
   /* #values{ */
    /* width:150px;         */
    /* float:left;
    text-align:justify; */
    /* border:1px solid #CCC; */
    /* padding:10px;
    } */
   /* #contacts{
   float: left;
   width:150px;  */
   /* border:1px solid #CCC; */
   /* padding:10px;
   } */

   footer{
    padding-left: 100px;
   }

   /* footer div { */
   .footer-part {
    vertical-align: top;
    display: inline-block;
    width: 20%;
   }

   .copyright{
    text-align:center; 
    margin-top: 100px;
   }

   /* #copyright{
   float:left;
   text-align:center; */
   /* border:1px solid #333; */
   /* width:514px; */
   /* } */
