@use '../mixins';
@use '../variables';

main {
  width: 100%;
}

.article-container {
  margin-bottom: 5px;
  overflow: hidden;
}

.article-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.article {
  padding: 10px;
  background-color: variables.$section-bg;
  position: relative;
}

.article--horizontal-reverse .article__text {
  float: right;
  padding-left: 20px;
}

.article.article--horizontal-reverse .article__read-more {
  left: 10px;
}

.article--vertical-reverse {
  padding-bottom: 250px;
  min-height: 300px;
}

.article--vertical-reverse .article__description {
  position: absolute;
  top: 30px;
  padding: 10px 15px 20px 15px;
  left: 0;
}

.article--vertical-reverse .article__image-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 96%;
  margin-top: 10px;
}

.article__content {
  overflow: hidden;
  margin-bottom: 30px;
}

.article__text {
  float: left;
  width: 55%;
  padding-right: 20px;
}

.article__title {
  font-size: variables.$article-title-font-size;
  color: variables.$article-title-color;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.article__subtitle {
  font-size: variables.$article-subtitle-font-size;
  color: #333;
  margin-bottom: 5px;
  margin-top: 10px;
}

.article__description {
  font-size: variables.$article-description-font-size;
  font-weight: normal;
  color: #666;
  padding-top: 10px;
}

.article__image-container {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  width: 45%;
  overflow: hidden;
}

.article__image-container--wide {
  width: 100%;
  padding-bottom: 30%;
}

.article__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__image-container--wide .article__image {
  object-position: center 60%;
}

.article__read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: variables.$article-read-more-font-size;
  color: variables.$article-read-more-color;
  text-decoration: underline;
}

@include mixins.respond-md {
  main {
    width: 64%;
    float: left;
  }

  .article-wrapper {
    width: variables.$article-width-half;
    float: left;
    padding-right: 20px;
  }

  .article-wrapper--third {
    width: variables.$article-width-third;
  }

  .article--horizontal-reverse .article__text {
    float: left;
    padding-left: 0;
  }

  .article.article--horizontal-reverse .article__read-more {
    left: initial;
    right: 10px;
  }

  .article--vertical-reverse {
    padding-bottom: 0;
    min-height: auto;
  }

  .article__description {
    padding-top: 10px;
  }

  .article--vertical-reverse .article__description {
    position: relative;
    top: 0;
    padding: 0;
    width: 100%;
  }

  .article--vertical-reverse .article__image-container {
    position: relative;
  }

  .article__image-container--wide {
    padding-bottom: 50%;
  }

  .article__text {
    float: left;
  }
}
