@use '../mixins';
@use '../variables';

main {
  width: 100%;
  // float: left;
  /* padding: 20px; */
}

// ARTICLES

.article-wrapper {
  // width: 100%;
  // float: left;
  /* padding: 10px;  */
  // padding-right: 20px;
  // height: 100%;
  padding-bottom: 20px;
  /* padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box; */
}

.article {
  /* box-sizing: border-box;
  padding: 10px; */

  padding: 10px;

  // padding-top: 100px;  /* osigurava prostor za description ako bude gore */
  //   padding-bottom: 200px; /* osigurava prostor za image ako bude dole */
  // border: 1px solid #ccc;
  // background-color: #f9f9f9;
  background-color: variables.$section-bg;
  // box-sizing: border-box;
  position: relative;
  // height: 100%;
}

.article__content {
  /* width: 100%;
  /* position: relative; */
  // height: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

// linkovi u hederu se priblizavaju logou pri shrink

.article__text {
  /* font-size: 1rem;
  color: #333;
  margin: 10px; */
  // float: right;
  float: left;
  // clear: both;
  width: 55%;
  padding-right: 20px;
}

.article--reverse .article__text {
  float: right;
  padding-left: 20px;
}

.article__title {
  font-size: 1.2rem;
  color: #f6a04a;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  /* margin: 0; */
}

// reverse/reversed ...

.article__subtitle {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
  /* margin: 10px; */
}

.article__description {
  font-size: 0.9rem;
  font-weight: normal;
  color: #666;
  // order: 0;
}

.article__image-container {
  /* justify-self: center; */
  /* width: 100%; */
  /* height: auto; */
  float: left;
  /* height: 80%; */
  // height: 80%;
  // height: 0;
  overflow: hidden;
  // clear: both;
  padding-top: 30%;
  position: relative;
  width: 45%;
  /* margin-bottom: 10px; */
  height: 0;
  overflow: hidden;
  // padding-top: 591.44px / 1127.34px * 100%;
  background: white;
  // position: relative;
}

/* Normalan raspored (default, bez modifikatora) */
// .article__image-container,
// .article__description {
//     // position: static; /* podrazumevano ponašanje */
// }
.article--reversed {
  // padding-top: 100px;  /* osigurava prostor za description ako bude gore */
  padding-bottom: 200px; /* osigurava prostor za image ako bude dole */
  // overflow: ;
  min-height: 300px;
}

// /* Ako ima modifier --reversed, obrni ih pozicijom */
.article--reversed .article__description {
  position: absolute;
  top: 30px;
  // bottom: 20px;
  padding: 10px 15px;
  left: 0;
  display: block;
  // width: 100%;
  // width: 90%;
}

.article--reversed .article__image-container {
  position: absolute;
  // bottom: 0;
  bottom: 10px;
  // top: 150px;
  left: 10px;
  // width: 100%;
  width: 90%;
  margin-top: 10px;
}

// order, inline-block, link readmore under i footer

.article__image-container--wide {
  width: 100%;
  padding-bottom: 20px;
}

// slike resi

// da li ovde treba absolute?
.article__image {
  /* justify-self: center; */
  // width: 100%;
  // height: 80%;
  object-fit: cover;
  object-position: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 120%;
  height: 100%;
  /* margin-bottom: 10px; */
}

// readmore samo dole u "footeru"

.article__read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #007BFF;
  text-decoration: underline;
}

.article.article--reverse .article__read-more {
  left: 10px;
}


@include mixins.respond-md {
  main {
    width: 64%;
    float: left;
    /* padding: 20px; */
  }

  // .article-content::after {
  //   content: "";
  //   display: table;
  //   clear: both;
  // }

  .article-wrapper {
    width: 50%;
    float: left;
    /* padding: 10px;  */
    padding-right: 20px;
    // height: 100%;
    // padding-bottom: 20px;
    /* padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: border-box; */
  }

  .article-wrapper--third {
    width: 33.33%;
  }

  .article__text {
    /* font-size: 1rem;
    color: #333;
    margin: 10px; */
    float: left;
    // width: 55%;
    // padding-right: 20px;
  }

  // ovo verovatno nije ok:
  .article--reverse .article__text {
    float: left;
    padding-left: 0;
  }

  .article.article--reverse .article__read-more {
    left: initial;
    right: 10px;
  }

  .article--reversed {
    // padding-top: 100px;  /* osigurava prostor za description ako bude gore */
    padding-bottom: 0; /* osigurava prostor za image ako bude dole */
    min-height: auto;
    // overflow: ;
    // min-height: 300px;
  }

  // /* Ako ima modifier --reversed, obrni ih pozicijom */
  .article--reversed .article__description {
    position: relative;
    top: 0;
    // bottom: 20px;
    // padding: 10px 15px;
    padding: 0;
    // left: 0;
    // display: block;
    width: 100%;
    // height: 100%;
    // width: 90%;
  }

  .article--reversed .article__image-container {
    position: relative;
    // bottom: 0;
    // bottom: 10px;
    // // top: 150px;
    // left: 10px;
    // width: 100%;
    // width: 90%;
    margin-top: 0;
  }
}
