@use '../mixins';

.footer {
  background-color: #303030;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer__container {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 0;
}

.footer__container::after {
  content: "";
  display: table;
  clear: both;
}

.footer__part:nth-child(n+3) {
  display: none;
}

.footer__link {
  @include mixins.link-hover-style(#ffffff);
}

.footer__style {
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.footer__header {
  color: white;
}

.footer__part-list {
  list-style: none;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  color: white;
}

@include mixins.respond-md {
  .footer {
    padding-top: 60px;
  }

  .footer__part {
    float: left;
    width: 25%;
  }

  .footer__part:nth-child(n+3) {
    display: block;
  }

  .copyright {
    margin-top: 50px;
  }
}
