@use '../mixins';
@use '../variables';

.nav-container {
  display: none;
}

@include mixins.respond-md {
  .nav-container {
    display: block;
    width: 18%;
    float: left;
    padding: 10px 10px 5px 10px;
    margin-right: 40px;
    border-radius: 15px;
    margin-left: 20px;
    background-color: variables.$nav-bg;
  }

  .nav-container__list {
    list-style-type: none;
  }

  .nav__item {
    padding: 0px 15px;
    margin-bottom: 10px;
    background-color: #959595;
    border-radius: 15px;
  }

  .nav__item--open {
    background-color: #fc8100;
    padding: 0;
  }

  .nav__item-text {
    width: 85%;
    color: white;
    float: left;
    padding-top: 7px;
  }

  .nav__item--open .nav__item-text {
    padding-left: 15px;
    width: 82%;
  }

  .nav__item--open .nav__item-toggle {
    width: 18%;
  }

  .nav__item-toggle {
    width: 15%;
    color: white;
    font-size: 30px;
    font-weight: lighter;
  }

  .nav__item-submenu {
    list-style-type: none;
  }

  .nav__submenu-item {
    padding: 0px 5px;
    background-color: white;
    margin: 0;
  }

  .nav__submenu-item:first-of-type {
    padding-top: 5px;
  }

  .nav__submenu-item:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 5px;
  }

  .nav__submenu-link {
    display: block;
    color: black;
    text-decoration: underline;
    padding: 3px 10px;
  }
}
